*.map
.bench
.claude/
.DS_Store
.attest
.env
.local
.pnpm-store
dist
coverage
node_modules
tasks/
tsconfig.*.tsbuildinfo
tsconfig.tsbuildinfo
tsdoc.d.tson

ox.api.json
erc4337.api.json
tempo.api.json
lookup.json
config-generated.ts
site/.vocs
site/src/pages.gen.ts
site/src/pages/api
site/src/pages/ercs
site/src/pages/tempo
site/src/pages/webauthn
site/src/pages/zod
site/src/pages/glossary
tsdoc-metadata.json
*.timestamp*
