*.map
.DS_Store
.env
.local
_esm
_cjs
dist
coverage
node_modules
tsconfig.*.tsbuildinfo
tsconfig.tsbuildinfo

ox.api.json
lookup.json
sidebar-generated.ts
site/pages/api
site/pages/glossary
tsdoc-metadata.json
