name: Verify
on:
  workflow_call:
  workflow_dispatch:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Check code
        run: pnpm check

      - name: Check types
        run: pnpm check:types

      - name: Check TSDoc
        run: pnpm check:tsdoc

  test-core:
    name: Test Runtime (core)
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run tests
        run: pnpm test --project core --bail=1 --coverage
        env: 
          VITE_ANVIL_FORK_URL: ${{ secrets.VITE_ANVIL_FORK_URL }}

  test-browser:
    name: Test Runtime (browser)
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps chromium

      - name: Run tests
        run: pnpm test --project browser --bail=1

  test-tempo:
    name: 'Test Runtime (tempo, env: localnet, tag: ${{ matrix.tag }})'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: 
          - latest
          - https://rpc.moderato.tempo.xyz

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run tests
        run: pnpm test --project tempo --bail=1 --coverage
        env: 
          VITE_TEMPO_TAG: ${{ matrix.tag }}

  test-tempo-e2e:
    name: 'Test Runtime (tempo, env: ${{ matrix.tempo-env }}, e2e)'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tempo-env: 
          # - devnet TODO: re-enable.
          - testnet

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run tests
        run: pnpm test --project tempo e2e --bail=1
        env:
          VITE_TEMPO_CREDENTIALS: ${{ secrets.VITE_TEMPO_CREDENTIALS }}
          VITE_TEMPO_ENV: ${{ matrix.tempo-env }}

  vectors:
    name: Vectors
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run test vectors
        shell: bash
        run: pnpm vectors
