name: Verify
on:
  workflow_call:
  workflow_dispatch:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with: 
          node-version: 22

      - name: Check code
        run: pnpm check

      - name: Check types
        run: pnpm check:types

      - name: Check TSDoc
        run: pnpm check:tsdoc
      
      - uses: stefanzweifel/git-auto-commit-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: 'chore: format'
          commit_user_name: 'github-actions[bot]'
          commit_user_email: 'github-actions[bot]@users.noreply.github.com'

  test:
    name: Test Runtime
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [1, 2, 3]
        total-shards: [3]
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with: 
          node-version: 22

      - name: Run tests
        run: pnpm test:ci --shard=${{ matrix.shard }}/${{ matrix.total-shards }}
        env: 
          VITE_ANVIL_FORK_URL: ${{ secrets.VITE_ANVIL_FORK_URL }}

  test-types:
    name: Test Types
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with: 
          node-version: 22

      - name: Run tests
        run: pnpm test:types

  vectors:
    name: Vectors
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with: 
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with: 
          node-version: 22

      - name: Run test vectors
        shell: bash
        run: pnpm vectors
